{% assign icons = include.icons %}


{% if icons.email %}
<li>
    <a href="mailto:{{ icons.email }}">
        <i class="fa fa-fw fa-envelope"></i>
    </a>
</li>
{% endif %}

{% if icons.github %}
<li>
    <a href="https://github.com/{{ icons.github }}">
        <i class="fa fa-fw fa-github"></i>
    </a>
</li>
{% endif %}


{% if icons.twitter %}
<li>
    <a href="https://twitter.com/{{ icons.twitter }}">
        <i class="fa fa-fw fa-twitter"></i>
    </a>
</li>
{% endif %}


{% if icons.google_plus %}
<li>
    <a href="https://plus.google.com/{{ icons.google_plus }}">
        <i class="fa fa-fw fa-google-plus"></i>
    </a>
</li>
{% endif %}


{% if icons.stack_exchange %}
<li>
    <a href="{{ icons.stack_exchange }}">
        <i class="fa fa-fw fa-stack-exchange"></i>
    </a>
</li>
{% endif %}

<li>
    <a href="https://innoq.com">
        <img src="/faq/assets/img/innoQ_logo_bw.png" width="50px" alt="innoQ">
    </a>
</li>
