{% assign icons = include.icons %}


{% if icons.email %}
<li>
    <a href="mailto:{{ icons.email }}">
        <i class="fa fa-fw fa-envelope"></i>
    </a>
</li>
{% endif %}

{% if icons.github %}
<li>
    <a href="https://github.com/{{ icons.github }}">
        <i class="fab fa-fw fa-github"></i>
    </a>
</li>
{% endif %}



{% if icons.google_plus %}
<li>
    <a href="https://plus.google.com/{{ icons.google_plus }}">
        <i class="fa fa-fw fa-google-plus"></i>
    </a>
</li>
{% endif %}


{% if icons.slack %}
<li>
    <a href="https://{{ icons.slack }}.slack.com/">
        <i class="fa fa-fw fa-slack"></i>
    </a>
</li>
{% endif %}
